*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", serif;
}

.welcome-scroll{
    background-image: url(img/top-back.jpeg);
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.top{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 196px;
    padding-bottom: 156px;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.welcome__heading{
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
}
.welcome__text{
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 80px;
}
.welcome__text_bold{
    font-weight: 600;
}

.welcome__link,
.mini-games__link,
.mini-games__link_mobile{
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);

    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    padding: 16px 65px;
    text-decoration: none;
    text-align: center;
    
    transition: all 1s;
}
.welcome__link_hover:hover,
.mini-games__link_hover:hover{
    background: white;
    color: black;
}


.welcome__button,
.mini-games__button,
.mini-games__button_mobile{
    margin-top: 15px;
}




.scroll{
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    background-color: #BCEC30;
    margin-top: auto;
    z-index: 2;
    width: 100vw;

}

.scrol__animation{
    display: flex;
    animation: scroll 17s linear infinite;
    align-items: center;
    gap: 51px;
    }

@keyframes scroll {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(-50%);
    }
    }
        

.scroll__text{
    color: rgb(32, 32, 39);
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 30px;
}
.star1-top{
    position: absolute;
    top: 94px;
    left: 63px;
}
.star2-top{
    position: absolute;
    top: 69px;
    left: 156px;
}
.star3-top{
    position: absolute;
    bottom: 225px;
    right: 455px;
}
.star4-top{
    position: absolute;
    bottom: 149px;
    right: 344px;
}
.stargroup-top{
    position: absolute;
    bottom: 3px;
    right: -488px;
}

.stargroup-top_mobile{
    display: none;
}



.about{
    background-image: url(img/aboutBack.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 50px;

    position: relative;
    overflow-x: hidden;
}
.about__heading{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
}
.about__description{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 72px;
}

.games-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.games-cards__2row{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: flex-end;
    margin-top: -32px;
}
.game-card{
    width: fit-content;
    background: linear-gradient(to bottom, transparent, transparent 50%, white 50%, white);
    border-radius: 30px;
    height: fit-content;
}
.game-card:hover{
    transform: scale(1.1);
}
.games-cards__link{
    text-decoration: none;
    z-index: 1;
}


.game-card__number{
    border-radius: 52.58px;
    background: rgb(247, 247, 247);

    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 32px;
    padding: 9px 16px;
    width: fit-content;
    margin-bottom: 16px;
    margin-left: 32px;
}
.game-card__name{
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 36px;
    margin-left: 32px;
}

.star1-about{
    position: absolute;
    top: 77px;
    right: -53px;
    transform: rotate(-6.77deg);
}
.star2-about{
    position: absolute;
    top: 770px;
    left: 25px;
}
.star3-about{
    position: absolute;
    top: 822px;
    left: 40px; 
}



.mini-games{
    background-image: url(img/minigamesBack.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 46px;
    padding-bottom: 144px;

    position: relative;
}
.mini-games__heading{
    @extend .about__heading;
    margin-bottom: 72px;
}
.mini-games__cards{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.mini-game{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(to left, transparent, transparent 30%, white 30%, white);
    border-radius: 30px;
    height: fit-content;
}
.mini-game_backwards{
    background: linear-gradient(to right, transparent, transparent 30%, white 30%, white);
}
.mini-game-mobile{
    display: none;
}
.mini-game__text,
.mini-game__text_mobile{
    display: flex;
    flex-direction: column;
    padding: 48px;
}
.mini-game__name,
.mini-game__name_mobile{
    color: rgb(32, 32, 39);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
}
.mini-game__description,
.mini-game__description_mobile{
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 36px;
}

.mini-game__rules{
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 36px;
}


.star1-mini{
    position: absolute;
    top: 93px;
    right: 124px;
}
.star2-mini{
    position: absolute;
    top: 126px;
    right: 45px;
}
.star3-mini{
    position: absolute;
    bottom: 52px;
    right: 65px;
}
.star4-mini{
    position: absolute;
    bottom: 150px;
    right: 45px;
}
.footer{
    background: rgb(189, 237, 53);
    padding: 61px;
}
.footer__rights{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}

@import "tablet";
@import "mobile";











